body{
	background:#6ea7b2;
	color:#687176;
}
#wrap{
	width:100%;
	height:600px;
	background:#fff;
	/*border-radius:12px;*/
	/*margin: 20px auto;*/
}
.title{
	width: 100%;
	height:129px;
	border-bottom:1px solid #d1d9db;
}
.tBox{
	width:100%;
	height:70px;
	border-bottom:1px solid #d1d9db;
}
.logo{
	padding-left: 60px;
	background:url(../img/logo.png) no-repeat;
	font:18px/38px "微软雅黑";
	color:#389cd1;
	margin-left: 28px;
}
.navigation{
	width:100%;
	height:58px;
	background:#ecf0f6;
}
.tB_right{
	width:100px;
	height: 32px;
	padding-right:40px;
}

.tB_right a{
	display:inline-block;
	font-weight:normal;
	color:#67747d;
	/*font:20px/40px "微软雅黑";*/

}
.tB_right .shu{
	height:22px;
	color:#e4e5e7;
}
/*.tB_right a i{
	
}*/
.nav_right{
	width: 832px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	padding-left:20px;
}
.nav_right a{
	border:1px solid #d4d7dc;
	border-radius: 4px;
	padding:9px 20px 9px 10px;
	background:#fff;
}
.nav_right img{
	padding:0px 10px;
	background:#fff;
}
.nav_right a:nth-last-child(1){
	padding:9px 10px;
}
.nav_right a:nth-last-child(1) img{
	padding: 0;
}

.nav_left{
	margin-right:20px;
}
.nav_left a{
	border:1px solid #d4d7dc;
	border-radius: 4px;
	padding:9px 8px;
	background:#fff;
}
/*.nav_left>a:nth-child(1){
	width:18px;
	display: inline-block;
	background: pink;
}*/
/*导航部分的右边*/
.select{
	width:130px;
	height:108px;
	position: absolute;
	border:1px solid #54aee0;
	border-radius:4px 0 4px 4px;
	right:-1px;
	top: 46px;
	overflow: hidden;
}
.select1{
	width:49px;
	height:17px;
	position: absolute;
	border-left:1px solid #54aee0;
	border-right:1px solid #54aee0;
	right:-1px;
	top: 30px;
	background:#fff;
	z-index: 2;
}
.select li{	
	width:100%;
	height:36px;
	font:14px/36px "微软雅黑";
	background:#fff;
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content:center;
}
.select li:hover{
	background:#e1e8ee;
	
}
.select img{
	display: inline-block;
	margin-right:12px;
}
/*
 	内容区域；
 	左边
 */
.content{
	height:470px;
}
.c_left{
	/*padding-left:20px;*/
	width: 258px;
	height:100%;
	/*background: #e1e8ee;*/
	border-right: 2px solid #e1e9eb;

	
}
/*分层级*/
.c_left span{	
	height: 30px;
	display: block;
	/*width:100%;*/	
	display:flex;
	flex-direction:row;
	/*justify-content:space-between;*/
	align-items: center;
	cursor:pointer;
}
.c_left span:hover{
	background:#e1e8ee;
}
/*.c_left>li>span{
	padding-left:20px;
}
.c_left>li>ul>li>span{
	padding-left:48px;
}
.c_left>li>ul>li>ul>li>span{
	padding-left:78px;
}
.c_left>li>ul>li>ul>li>ul>li>span{
	padding-left:118px;
}*/
/*.c_left ul{
	padding-left:20px;
}
.c_left li{
	padding-left:10px;
}*/
.c_left .down{
	display: inline-block;
	width: 10px;
	height:11px;
	background:url(../img/down_b.png) no-repeat 0 0;
	margin-right:10px;
}
.c_left .file{
	display: inline-block;
	width: 18px;
	height:18px;
	background:url(../img/leftfile.png) no-repeat 0 0;
	margin-right:5px;
}
/*样式*/
.fa-th-large{

}


/*
 	内容区域；
 	右边
 */
.c_left{
	float: left;
	
}
.c_right{
	width: 600px;
	height:300px;
	background:pink;
	/*position: absolute;*/
	float:right;
	top:0px;
	right:0px;
	left:260px;
}
