@media (min-width: 768px){
	.content{
   		width: 750px;
    }
}
@media (min-width: 980px){
	.content {
   	 	width: 970px;
   	}	
}
@media (min-width: 1200px){
	.content{
   		width: 1170px;
    }
}
/*第一块的模块宽度*/
@media (min-width: 992px){
.wNum3 {
    width: 33.33333333%;
    float:left;
    }
}