@media (min-width: 768px){
	.content{
   		width: 750px;
    }
    .ms{
		width: 50%;
	}
	.ms{
	    float: left;
	}
}
@media (min-width: 980px){
	.content {
   	 	width: 970px;
   	}	
}
@media (min-width: 1200px){
	.content{
   		width: 1170px;
    }
    .content12{
    	width: 100%;
	}
	.content12{
		float:left;
	}
}
/*第一块的模块宽度*/
@media (min-width: 992px){
	.wNum3 {
	    width: 33.33333333%;
	    float:left;
	}
	.ms{
		width: 25%;
		
	}
	.ms{
	    float: left;
	}
}
