body,h1,h2,h3,h5,dl,dd{
	margin:0;
}
a{
	text-decoration:none;
	color:#000;
}
img{
	border:none;
	/*vertical-align: top;*/
	vertical-align: middle;
}
ul,ol{
	margin:0;
	padding:0;
	list-style:none;
}
input,select,form{
	margin:0;
	padding:0;
	border: 0 none;
	outline: none;
}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-family: oswald;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6{
	margin-top: 20px;
    margin-bottom: 10px;
}
