.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.auto{
	width:1190px;
	margin:0 auto;
}
.auto2{
	width:990px;
	margin:0 auto;
}
.pr{
	position: relative;
}
.pa{
	position: absolute;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.db{
	display:block;
}
/*首页内容第一个sale*/


.dibuxian{
	height: 10px;
    width: 1190px;
    background: url(../img/img-dibu.jpg) no-repeat;
    overflow: hidden;
}
